In [ ]:
"""
/****************************************************************
                   _ooOoo_
                  o8888888o
                  88" . "88
                  (| -_- |)
                  O\  =  /O
               ____/`---'\____
             .'  \\|     |//  `.
            /  \\|||  :  |||//  \
           /  _||||| -:- |||||-  \
           |   | \\\  -  /// |   |
           | \_|  ''\---/''  |   |
           \  .-\__  `-`  ___/-. /
         ___`. .'  /--.--\  `. . __
      ."" '<  `.___\_<|>_/___.'  >'"".
     | | :  `- \`.;`\ _ /`;.`/ - ` : | |
     \  \ `-.   \_ __\ /__ _/   .-` /  /
======`-.____`-.___\_____/___.-`____.-'======
                   `=---='
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
         佛祖保佑   永无BUG     永不死机
********************************************************************
"""

## 一.series
### 1.series的创建

In [2]:
import pandas as pd
s = pd.Series([1,2,3,4,5])
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
# 自定义索引
s = pd.Series([1,2,3,4,5],index=['A','B','C','D','E'])
print(s)
# 定义name(标签)
s = pd.Series([1,2,3,4,5],index=['A','B','C','D','E'],name='num')
print(s)

A    1
B    2
C    3
D    4
E    5
dtype: int64
A    1
B    2
C    3
D    4
E    5
Name: num, dtype: int64

In [12]:
# 字典创建series
s = pd.Series({'A':1,'B':2,'C':3,'D':4,'E':5})
print(s)
s1 = pd.Series(s,index=['A','C'])
print(s1)

A    1
B    2
C    3
D    4
E    5
dtype: int64
A    1
C    3
dtype: int64

### 2.series的属性

In [22]:
s = pd.Series({'A':1,'B':2,'C':3,'D':4,'E':5})
print(s.index) # 索引
print(s.values) # 值
print(s.size) # 大小
print(s.dtype) # 数据类型
print(s.name) # 名称
print(s.shape) # 形状
print(s.ndim) # 维度
print(s.loc['A']) #显式索引 - 支持切片
print(s.iloc[0]) # 隐式索引
print(s.at['A']) # 快速访问 - 不支持切片
print(s.iat[0]) # 快速访问 - 不支持切片

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')
[1 2 3 4 5]
5
int64
None
(5,)
1
1
1
1
1

### 3.series的访问

In [29]:
s = pd.Series({'A':1,'B':2,'C':3,'D':4,'E':5,'F':6})
# print(s[1]) # 会有警告信息，计算机不理解1是标签还是位置
print(s['A']) # 标签索引
print(s[s<3]) # 布尔索引
print(s.head()) # 打印前五行
print(s.tail()) # 打印后五行

1
A    1
B    2
dtype: int64
A    1
B    2
C    3
D    4
E    5
dtype: int64
B    2
C    3
D    4
E    5
F    6
dtype: int64

### 4.series常见函数/方法

In [3]:
import numpy as np
s = pd.Series([10,2,np.nan,None,3,4,5],index=['A','B','C','D','E','F','G'])
print(s)

A    10.0
B     2.0
C     NaN
D     NaN
E     3.0
F     4.0
G     5.0
dtype: float64

In [5]:
s.head() # 打印前五行，里面填数字则指定行数
s.tail() # 打印后五行

C    NaN
D    NaN
E    3.0
F    4.0
G    5.0
dtype: float64

In [6]:
# 查看所有的描述性信息
s.describe()

count     5.000000
mean      4.800000
std       3.114482
min       2.000000
25%       3.000000
50%       4.000000
75%       5.000000
max      10.000000
dtype: float64

In [9]:
s.count() # 计算非NaN的个数
print(s.count())

5

In [12]:
print(s.keys()) #方法
print(s.index) #属性

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G'], dtype='object')
Index(['A', 'B', 'C', 'D', 'E', 'F', 'G'], dtype='object')

In [15]:
print(s.isna())
s.isna()

A    False
B    False
C     True
D     True
E    False
F    False
G    False
dtype: bool

A    False
B    False
C     True
D     True
E    False
F    False
G    False
dtype: bool

In [19]:
s.isin([10,2,6])

A     True
B     True
C    False
D    False
E    False
F    False
G    False
dtype: bool

In [24]:
print(s.mean())
print(s.std()) #标准差
print(s.var()) #方差
print(s.sum()) #求和
print(s.min()) #最小值
print(s.max()) #最大值
print(s.median()) #中位数

4.8
3.1144823004794877
9.700000000000001
24.0
2.0
10.0
4.0

In [25]:
s.sort_values() #按值升序排序

B     2.0
E     3.0
F     4.0
G     5.0
A    10.0
C     NaN
D     NaN
dtype: float64

In [27]:
print(s.quantile(0.8)) #获取百分之25分位数
#--------------#
#2  3  4  5  10
#间隔为4份,4*0.8=3.2
#第3个间隔往后查0.2
#0.2*(10-5)=1
#5+1=6

6.000000000000001

In [30]:
# 众数
s = pd.Series([1,2,3,4,1,1])
print(s.mode())

0    1
dtype: int64

In [32]:
print(s.value_counts()) #统计个数：值；个数【同时会按频率排序】

1    3
2    1
3    1
4    1
Name: count, dtype: int64

In [35]:
s.drop_duplicates() #去重
s.unique() #去重
print(s.nunique()) #去重后的个数

4

In [36]:
# 排序
print(s.sort_index()) #按索引排序
print(s.sort_values()) #按值排序

0    1
1    2
2    3
3    4
4    1
5    1
dtype: int64
0    1
4    1
5    1
1    2
2    3
3    4
dtype: int64

### 5.案例
#### 案例1：学生成绩统计
创建一个包含10名学生数学成绩的Series，成绩范围在50-100之间。
计算平均分、最高分、最低分，并找出高于平均分的学生人数。

In [43]:
# 生成随机成绩
np.random.seed(42)
scores = pd.Series(np.random.randint(50, 101, 10),index=['学生'+str(i) for i in range(1,11)])
#print(scores)
print("平均分为:"+str(scores.mean()))
print("最高分为:"+str(scores.max()))
print("最低分为:"+str(scores.min()))
print("高于平均分的学生人数为:"+str(len(scores[scores>scores.mean()])))

平均分为:73.7
最高分为:92
最低分为:57
高于平均分的学生人数为:4

#### 案例2：温度数据分析
给定某城市一周每天的最高温度Series，完成以下任务：\
(1)找出温度超过30度的天数\
(2)计算平均温度\
(3)将温度从高到低排序\
(4)找出温度变化最大的两天

In [12]:
temperatures = pd.Series([28, 31, 29, 32, 30, 27, 33], index=['周一', '周二', '周三', '周四', '周五', '周六', '周日'])
print("温度超过30度的天数为："+str(len(temperatures[temperatures>30])))
print("平均温度为："+str(temperatures.mean()))
print(temperatures.sort_values(ascending=False))
print(temperatures.diff().abs().sort_values(ascending=False).keys()[:2].tolist()) #后一个 - 前一个

温度超过30度的天数为：3
平均温度为：30.0
周日    33
周四    32
周二    31
周五    30
周三    29
周一    28
周六    27
dtype: int64
['周日', '周二']

#### 案例3：股票价格分析
给定某股票连续10个交易日的收盘价Series：\
计算每日收益率（当日收盘价/前日收盘价-1）\
找出收益率最高和最低的日期\
计算波动率（收益率的标准差）

In [24]:
import numpy as np
prices = pd.Series([102.3,103.5,105.1, 104.8,106.2,107.0,106.5,108.1, 109.3, 110.2], index=pd.date_range('2025-08-15', periods=10))
print(prices)
a = prices.pct_change() #(103.5 / 102.3) -1
print(a)
print("收益率最高和最低的日期："+str(a.idxmax())+"和"+str(a.idxmin()))
print("波动率："+str(a.std()))

2025-08-15    102.3
2025-08-16    103.5
2025-08-17    105.1
2025-08-18    104.8
2025-08-19    106.2
2025-08-20    107.0
2025-08-21    106.5
2025-08-22    108.1
2025-08-23    109.3
2025-08-24    110.2
Freq: D, dtype: float64
2025-08-15         NaN
2025-08-16    0.011730
2025-08-17    0.015459
2025-08-18   -0.002854
2025-08-19    0.013359
2025-08-20    0.007533
2025-08-21   -0.004673
2025-08-22    0.015023
2025-08-23    0.011101
2025-08-24    0.008234
Freq: D, dtype: float64
收益率最高和最低的日期：2025-08-17 00:00:00和2025-08-21 00:00:00
波动率：0.007373623845361105

#### 案例4：销售数据分析
某产品过去12个月的销售量Series:
计算季度平均销量（每3个月为一个季度）\
找出销量最高的月份\
计算月环比增长率【同比：与前年的相同月相比；环比：与上一个月相比】\
找出连续增长超过2个月的月份

In [37]:
sales = pd.Series([120, 135, 145, 160, 155, 170, 180, 175, 190, 200, 210,220],index=pd.date_range('2025-01-01', periods=12, freq='MS'))
#sales
sales.resample('QS').mean() #重新采样
print("销量最高的月份："+str(sales.idxmax()))
print(sales.pct_change().dropna())
a = sales.pct_change()
b = a>0
b[b.rolling(3).sum()==3].keys().tolist() #滑动窗口

销量最高的月份：2025-12-01 00:00:00
2025-02-01    0.125000
2025-03-01    0.074074
2025-04-01    0.103448
2025-05-01   -0.031250
2025-06-01    0.096774
2025-07-01    0.058824
2025-08-01   -0.027778
2025-09-01    0.085714
2025-10-01    0.052632
2025-11-01    0.050000
2025-12-01    0.047619
Freq: MS, dtype: float64

[Timestamp('2025-04-01 00:00:00'),
 Timestamp('2025-11-01 00:00:00'),
 Timestamp('2025-12-01 00:00:00')]

#### 案例5：每小时销售数据分析
某商店每小时销售额Series：\
按天重采样计算每日总销售额\
计算每天营业时间（8:00-22:00）和非营业时间的销售额比例\
找出销售额最高的3个小时

In [54]:
np.random.seed(42)
hourly_sales = pd.Series(np.random.randint(0, 100, 24),index=pd.date_range('2025-01-01', periods=24, freq='h'))
#hourly_sales
day_sales = hourly_sales.resample('D').sum() #按天重采样
work_time = sum(hourly_sales.between_time('08:00', '22:00'))
unwork_time = day_sales.values - work_time
print(work_time,*unwork_time)
print("每天营业时间和非营业时间的销售额比例："+str(work_time/unwork_time))
print("销售额最高的3个小时：\n"+str(hourly_sales.nlargest(3)))

709 496
每天营业时间和非营业时间的销售额比例：[1.42943548]
销售额最高的3个小时：
2025-01-01 11:00:00    99
2025-01-01 01:00:00    92
2025-01-01 10:00:00    87
dtype: int32

## 二.DataFrame
### 1.DataFrame的创建

In [2]:
import pandas as pd
import numpy as np
#利用Series创建DataFrame
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([6,7,8,9,10])
df = pd.DataFrame({'A':s1,'B':s2})
df

   A   B
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [6]:
#利用字典来创建
df = pd.DataFrame({'ID':[1,2,3,4,5],
                  'Name':['张三','李四','王五','赵六','小七'],
                  'age':[18,19,20,21,22],
                   'score':[80,12.5,90,100,85]},index=['a','b','c','d','e'],columns=['Name','ID','age','score'])
df

  Name  ID  age  score
a   张三   1   18   80.0
b   李四   2   19   12.5
c   王五   3   20   90.0
d   赵六   4   21  100.0
e   小七   5   22   85.0

### 2.DataFrame的属性

In [25]:
#行索引
print(df.index)
#列索引
print(df.columns)
#值
print(df.values)
#维度
print(df.ndim)
#形状
print(df.shape)
#数据类型
print(df.dtypes)
#转置
print(df.T)
#索引-获取值
##某行
print(df.loc['d']) #显式索引
print(df.iloc[3]) #隐式索引
##某列
print(df.loc[:,'Name']) #显式索引
print(df.iloc[:,0]) #隐式索引
##单个元素
print(df.at['d','Name']) #显式索引
print(df.iat[3,0]) #隐式索引

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
Index(['Name', 'ID', 'age', 'score'], dtype='object')
[['张三' 1 18 80.0]
 ['李四' 2 19 12.5]
 ['王五' 3 20 90.0]
 ['赵六' 4 21 100.0]
 ['小七' 5 22 85.0]]
2
(5, 4)
Name      object
ID         int64
age        int64
score    float64
dtype: object
          a     b     c      d     e
Name     张三    李四    王五     赵六    小七
ID        1     2     3      4     5
age      18    19    20     21    22
score  80.0  12.5  90.0  100.0  85.0
Name        赵六
ID           4
age         21
score    100.0
Name: d, dtype: object
Name        赵六
ID           4
age         21
score    100.0
Name: d, dtype: object
a    张三
b    李四
c    王五
d    赵六
e    小七
Name: Name, dtype: object
a    张三
b    李四
c    王五
d    赵六
e    小七
Name: Name, dtype: object
赵六
赵六

In [29]:
# 获取单列数据
print(df['Name'])
print(df.Name)
print(df[['Name']])
print(df[['Name','age']])

a    张三
b    李四
c    王五
d    赵六
e    小七
Name: Name, dtype: object
a    张三
b    李四
c    王五
d    赵六
e    小七
Name: Name, dtype: object
  Name
a   张三
b   李四
c   王五
d   赵六
e   小七
  Name  age
a   张三   18
b   李四   19
c   王五   20
d   赵六   21
e   小七   22

In [31]:
print(df.head(2))
print(df.tail(2))

  Name  ID  age  score
a   张三   1   18   80.0
b   李四   2   19   12.5
  Name  ID  age  score
d   赵六   4   21  100.0
e   小七   5   22   85.0

In [37]:
df[df.score>80]

  Name  ID  age  score
c   王五   3   20   90.0
d   赵六   4   21  100.0
e   小七   5   22   85.0

In [45]:
#随机抽样
df.sample(3)

  Name  ID  age  score
b   李四   2   19   12.5
c   王五   3   20   90.0
d   赵六   4   21  100.0

### 3.DataFrame的方法

In [47]:
df
#查看前n行数据
print(df.head(2))
#查看后n行数据
print(df.tail(2))

  Name  ID  age  score
a   张三   1   18   80.0
b   李四   2   19   12.5
  Name  ID  age  score
d   赵六   4   21  100.0
e   小七   5   22   85.0

In [53]:
# 查看元素是否包含在参数集合中
print(df.isin(['张三',12.5]))
# 查看元素是否为NaN
print(df.isna())

    Name     ID    age  score
a   True  False  False  False
b  False  False  False   True
c  False  False  False  False
d  False  False  False  False
e  False  False  False  False
    Name     ID    age  score
a  False  False  False  False
b  False  False  False  False
c  False  False  False  False
d  False  False  False  False
e  False  False  False  False

In [65]:
print(df['score'].sum()) #求和
print(df.score.max()) #最大值
print(df.age.min()) #最小值
print(df.score.mean()) #平均值
print(df.score.median()) #中位数
print(df.score.mode()) #众数
print(df.score.std()) #标准差
print(df.score.var()) #方差
print(df.describe()) #描述性统计

367.5
100.0
18
73.5
85.0
0     12.5
1     80.0
2     85.0
3     90.0
4    100.0
Name: score, dtype: float64
34.8926926447358
1217.5
             ID        age       score
count  5.000000   5.000000    5.000000
mean   3.000000  20.000000   73.500000
std    1.581139   1.581139   34.892693
min    1.000000  18.000000   12.500000
25%    2.000000  19.000000   80.000000
50%    3.000000  20.000000   85.000000
75%    4.000000  21.000000   90.000000
max    5.000000  22.000000  100.000000

In [67]:
print(df.count()) #非NaN元素个数
print(df.value_counts()) #出现次数

Name     5
ID       5
age      5
score    5
dtype: int64
Name  ID  age  score
小七    5   22   85.0     1
张三    1   18   80.0     1
李四    2   19   12.5     1
王五    3   20   90.0     1
赵六    4   21   100.0    1
Name: count, dtype: int64

In [69]:
print(df.drop_duplicates()) #去重
print(df.duplicated(subset=['Name']))

  Name  ID  age  score
a   张三   1   18   80.0
b   李四   2   19   12.5
c   王五   3   20   90.0
d   赵六   4   21  100.0
e   小七   5   22   85.0
a    False
b    False
c    False
d    False
e    False
dtype: bool

In [71]:
df.sample(2) #随机抽样
print(df.replace(1,10)) #替换

  Name  ID  age  score
a   张三  10   18   80.0
b   李四   2   19   12.5
c   王五   3   20   90.0
d   赵六   4   21  100.0
e   小七   5   22   85.0

In [72]:
df.cumsum() #累加

         Name  ID  age  score
a          张三   1   18   80.0
b        张三李四   3   37   92.5
c      张三李四王五   6   57  182.5
d    张三李四王五赵六  10   78  282.5
e  张三李四王五赵六小七  15  100  367.5

In [74]:
print(df.sort_index(ascending=False)) #按索引排序
print(df.sort_values(by='score',ascending=False))
print(df.sort_values(by=['score','age'],ascending=[False,False])) #按多个列排序,先按score,相同则按age

  Name  ID  age  score
e   小七   5   22   85.0
d   赵六   4   21  100.0
c   王五   3   20   90.0
b   李四   2   19   12.5
a   张三   1   18   80.0
  Name  ID  age  score
d   赵六   4   21  100.0
c   王五   3   20   90.0
e   小七   5   22   85.0
a   张三   1   18   80.0
b   李四   2   19   12.5

In [75]:
df.nlargest(2,columns='score')

  Name  ID  age  score
d   赵六   4   21  100.0
c   王五   3   20   90.0

### 4.案例
案例1：学生成绩分析\
场景：某班级的学生成绩数据如下，请完成以下任务：\
1.计算每位学生的总分和平均分\
2.找出数学成绩高于90分或英语成绩高于85分的学生\
3.按总分从高到低排序，并输出前3名学生

In [8]:
import numpy as np
import pandas as pd
data = pd.DataFrame({'Name':['张三','李四','王五','赵六','钱七'],
                  'Math':[90,85,80,95,100],
                  'English':[85,90,95,80,90],
                   'physics':[75,80,85,90,95]
                   })
data

  Name  Math  English  physics
0   张三    90       85       75
1   李四    85       90       80
2   王五    80       95       85
3   赵六    95       80       90
4   钱七   100       90       95

In [15]:
#1.计算每位学生的总分和平均分
data['总分'] = data[['Math','English','physics']].sum(axis=1) #axis=1行求和
data['平均分'] = data[['Math','English','physics']].mean(axis=1)
data

  Name  Math  English  physics   总分        平均分
0   张三    90       85       75  250  83.333333
1   李四    85       90       80  255  85.000000
2   王五    80       95       85  260  86.666667
3   赵六    95       80       90  265  88.333333
4   钱七   100       90       95  285  95.000000

In [16]:
#2.找出数学成绩高于90分或英语成绩高于85分的学生
data[(data['Math']>90)|(data['English']>85)]

  Name  Math  English  physics   总分        平均分
1   李四    85       90       80  255  85.000000
2   王五    80       95       85  260  86.666667
3   赵六    95       80       90  265  88.333333
4   钱七   100       90       95  285  95.000000

In [17]:
#3.按总分从高到低排序，并输出前3名学生
data.sort_values(by='总分',ascending=False).head(3)

  Name  Math  English  physics   总分        平均分
4   钱七   100       90       95  285  95.000000
3   赵六    95       80       90  265  88.333333
2   王五    80       95       85  260  86.666667

案例2：销售数据分析\
场景：某公司销售数据如下，请完成以下任务：\
1.计算每种产品的总销售额 (销售额=单价×销量)\
2.找出销售额最高的产品\
3.按销售额从高到低排序，并输出所有产品信息

In [19]:
data = {
    '产品名称':['A','B','C','D'],
    '单价':[100,150,200,120],
    '销量':[50,30,20,40]
}
df = pd.DataFrame(data)
df

  产品名称   单价  销量
0    A  100  50
1    B  150  30
2    C  200  20
3    D  120  40

In [21]:
#1.计算每种产品的总销售额
df['销售额'] = df['单价']*df['销量']
df

  产品名称   单价  销量   销售额
0    A  100  50  5000
1    B  150  30  4500
2    C  200  20  4000
3    D  120  40  4800

In [26]:
#2.找出销售额最高的产品
df.nlargest(1,columns='销售额')
#3.按销售额从高到低排序，并输出所有产品信息
df.sort_values(by='销售额',ascending=False)

  产品名称   单价  销量   销售额
0    A  100  50  5000
3    D  120  40  4800
1    B  150  30  4500
2    C  200  20  4000

案例3：电商用户行为分析\
场景：某电商平台的用户行为数据如下，请完成以下任务：\
1.计算每位用户的总消费金额（消费金额=商品单价×购买数量）\
2.找出消费金额最高的用户，并输出其所有信息\
3.计算所有用户的平均消费金额（保留2位小数）\
4.统计电子产品的总购买数量

In [27]:
data = {
'用户ID':[101,102,103,104,105],
'用户名':['Alice','Bob','Charlie','David','Eve'],
'商品类别':['电子产品','服饰','电子产品','家居','服饰'],
'商品单价':[1200,300,800,150,200],
'购买数量':[1,3,2,5,4]
}
df = pd.DataFrame(data)
df

   用户ID      用户名  商品类别  商品单价  购买数量
0   101    Alice  电子产品  1200     1
1   102      Bob    服饰   300     3
2   103  Charlie  电子产品   800     2
3   104    David    家居   150     5
4   105      Eve    服饰   200     4

In [29]:
#1.计算每位用户的总消费金额
df['总消费金额'] = df['商品单价']*df['购买数量']
df

   用户ID      用户名  商品类别  商品单价  购买数量  总消费金额
0   101    Alice  电子产品  1200     1   1200
1   102      Bob    服饰   300     3    900
2   103  Charlie  电子产品   800     2   1600
3   104    David    家居   150     5    750
4   105      Eve    服饰   200     4    800

In [33]:
#2.找出消费金额最高的用户，并输出其所有信息
df.nlargest(1,columns='总消费金额')

   用户ID      用户名  商品类别  商品单价  购买数量  总消费金额
2   103  Charlie  电子产品   800     2   1600

In [65]:
#3.计算所有用户的平均消费金额(保留2位小数)
df['总消费金额'].mean()

np.float64(1050.0)

In [85]:
#4.统计电子产品的总购买数量
df[df['商品类别'] == '电子产品']['购买数量'].sum()

np.int64(3)